$netflix-red-color: #e50914;
$red-lighter-color: #f40612;
$block-navigation-bg: #141414;
$light-gray: #3d3d3d;

$color-black: #000;
$color-gray: #ccc;
$header-color: #1a1a1a;
$color-white: #fff;
$color-white-light-gray: #777;
