.main-header {
    position: absolute;
    top: auto;
    bottom: 44px;
    font-size: 18px;
    transform: none;
    text-align: center;
    max-width: 100%;
    z-index: 13;
    left: 0;
    width: 94%;
    margin: 0 3%;
    color: $color-white;

    &__text {
        position: relative;
        top: 0;

        h1 {
            font-size: 3rem;
            margin: 0 0 .2em;
            line-height: 1.1em;
            font-weight: 700;
            text-shadow: 1px 1px 10px #000;
        }

        p {
           font-size: 1.56rem;
           letter-spacing: .2px;
           font-weight: 400;
           margin: 0 0 .5em;
           text-transform: uppercase; 

           &.member {
               display: none;
           }
        }
    }
}

@media (min-width: 768px) {
    p.member {
        display: inline-block;
    }
}