$color-gray: #999;

.showcase-section {
    &__wrapper {
        margin: 0 auto;
        width: 90%;
        text-align: center;

        h3 {
            font-size: 2rem;
            color: $color-white;
            font-weight: 700;
            margin-bottom: 1rem;
        }

        a {
            color: $color-white;
        }
    }

    p {
        color: $color-gray;
    }

    img {
        width: 100%;
        height: auto;
    }

    &__small-cta {
        padding: 10px;
    }

    &__block {
        padding: 20px 15px 0;
    }
}